html[data-color-mode="light"] {
    --primary-color: #005FB8;

    --scroll-color: #BCBCBC;
    --drag-color: #777985;

    --text-color: #212121;
    --text-color-accent-1: #01B2B2;
    --text-color-accent-2: #6844FC;
    --text-color-accent-3: #E42E00;
    --text-color-accent-4: #D800CC;
    --text-color-accent-6: #00962A;

    --success-color: #00A844;

    --canvas-background-color: #F8F8F8;
    --canvas-foreground-color: #49494A;
    --canvas-foreground-color-1: #49494A80;
    --canvas-foreground-color-2: #49494A40;

    --node-background-color: #FFFFFF;
    --node-forground-color: #F0F0F0;
}


html[data-color-mode="dark"] {
    --primary-color: #146BA1;

    --scroll-color: #7C7C7C;
    --drag-color: #E4E4E7;

    --text-color: #C2C2C2;
    --text-color-accent-1: #00BEB5;
    --text-color-accent-2: #A85AED;
    --text-color-accent-3: #E45C10;
    --text-color-accent-4: #D82DDD;
    --text-color-accent-6: #00962A;

    --success-color: #00A844;

    --canvas-background-color: #202020;
    --canvas-foreground-color: #474748;
    --canvas-foreground-color-1: #47474880;
    --canvas-foreground-color-2: #47474840;

    --node-background-color: #3D3D3D;
    --node-forground-color: #212121;
}