body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.non-user-select {
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pre-wrap {
  white-space: pre-wrap;
}

html[data-color-mode='light'] {
  .node-card-body {
    border-top: 2px solid var(--primary-color);
  }

  .node-tag {
    border: 2px solid var(--primary-color);
  }
}

:root {
  --header-height: 38px;
}